
 <div *ngIf="isdataloaded">
<div class="container row  " style="position: relative; margin-top: 30px;">
  <div class="col-sm-1 " style="height:100%"></div>
  <div class="col-sm-11  ">
<img style="position: relative;"  src="\assets\3BHK.png" > 


<div class="position-absolute fixed-top" style="top:112px;left: 130px; border:2px solid grey;height: 33px; width:33px; border-radius: 6px;">
<input type="checkbox" data-toggle="toggle" id="1" data-on="ON" data-off="OFF" data-onstyle="success" data-offstyle="danger" data-style="slow">

</div>

<div class="position-absolute fixed-top" style="top:93px;left: 313px; border: 2px solid grey; height: 33px; width:33px;  border-radius: 6px;">
  <input type="checkbox"  data-toggle="toggle" id="2" data-on="ON" data-off="OFF" data-onstyle="success" data-offstyle="danger" data-style="slow">
</div>


<div class="position-absolute fixed-top" style="top:48px;left: 502px; border: 2px solid grey;height: 33px; width:33px;  border-radius: 6px;">
  <input type="checkbox" data-toggle="toggle" id="3"data-on="ON" data-off="OFF" data-onstyle="success" data-offstyle="danger" data-style="slow">
</div>


<div class="position-absolute fixed-top" style="top:47px;left: 737px; border: 2px solid grey; height: 33px; width:33px;  border-radius: 6px;">
  <input type="checkbox" data-toggle="toggle" id="4"data-on="ON" data-off="OFF" data-onstyle="success" data-offstyle="danger" data-style="slow">
</div>


<div class="position-absolute fixed-top" style="top:22px;left: 1000px; border:2px solid grey;height: 33px;  width:33px;  border-radius: 6px;">
  <input type="checkbox"  data-toggle="toggle" id="5" data-on="ON" data-off="OFF" data-onstyle="success" data-offstyle="danger" data-style="slow">
</div>

<div class="position-absolute fixed-top" style="top:37px;left: 1165px; border: 2px solid grey;height: 33px;  width:33px;  border-radius: 6px;">
  <input type="checkbox"  data-toggle="toggle" id="6" data-on="ON" data-off="OFF" data-onstyle="success" data-offstyle="danger" data-style="slow">
</div>

<div class="position-absolute fixed-top" style="top:615px;left: 295px; border: 2px solid grey;height: 33px;  width:33px;  border-radius: 6px;">
  <input type="checkbox" data-toggle="toggle" id="7" data-on="ON" data-off="OFF" data-onstyle="success" data-offstyle="danger" data-style="slow">
</div>

<div class="position-absolute fixed-top" style="top:657px;left: 958px; border: 2px solid grey;height: 33px;  width:33px;  border-radius: 6px;">
  <input type="checkbox"  data-toggle="toggle" id="8" data-on="ON" data-off="OFF" data-onstyle="success" data-offstyle="danger" data-style="slow">
</div>

<div class="position-absolute fixed-top" style="top:582px;left: 1011px; border:2px solid grey;height: 33px; width:33px;  border-radius: 6px;">
  <input type="checkbox" data-toggle="toggle" id="9" data-on="ON" data-off="OFF" data-onstyle="success" data-offstyle="danger" data-style="slow">
</div>

<div style="width:40px;height:40px; top:730px;left: 1211px ; background-color:white;" class="position-absolute fixed-top"></div>

</div>
</div>


<div class="position-absolute fixed-top" style="top:390px;left: 1411px;  ">
<button class="btn btn-warning Active   my-2 my-sm-0" type="submit" (click)="onsubmit($event)">UPDATE</button>
</div>


<div class="position-absolute fixed-top" style="top:460px;left: 1411px;  ">
    <button class="btn btn-warning Active   my-2 my-sm-0" type="submit" (click)="signout($event)">LOGOUT</button>
    </div>


</div>
