<div class ="container mt-2">
  <div class="row">
    <div class="offset-sm-2 col-sm-8">
      <div class="card text-blank border-0">
        <div class="card-body">
          <div class="card-title text-center">
            <h5>Signup form</h5>
          </div>
          <div class="card-text">
            <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
                
              <div class="form-row">
                  <div class="form-group col-sm-6">
                      <input type="text" class="form-control" placeholder="First Name" [formControl]="myForm.controls['firstname']">
                  </div>
                  
                  <div class="form-group col-sm-6">
                      <input type="text" class="form-control" placeholder="Last Name" [formControl]="myForm.controls['lastname']">
                  </div>
              </div>
              <div class="alert alert-danger" *ngIf="(!myForm.controls['firstname'].valid || !myForm.controls['lastname'].valid) && (myForm.controls['firstname'].touched || myForm.controls['lastname'].touched)">
                First and Last name are required
              </div>

              <div class="form-group">
                  <input type="email" class="form-control" placeholder="Enter your Email" [formControl]="myForm.controls['email']">
                  <small class="form-text form-muted">
                    We never show your email
                  </small>
              </div>
              <div class="alert alert-danger" *ngIf="!myForm.controls['email'].valid && myForm.controls['email'].touched">
                  Email are required
              </div>
              <div class="form-group">
                  <input type="password" class="form-control" placeholder="Password" [formControl]="myForm.controls['password']">
              </div>
              <div class="alert alert-danger" *ngIf="!myForm.controls['password'].valid && myForm.controls['password'].touched">
                  Password should be atleast 8 character
              </div>
              <div class="form-group">
                  <input type="password" class="form-control" placeholder="Confirm Password" [formControl]="myForm.controls['confirmpassword']">
              </div>
              <div class="alert alert-danger" *ngIf= "!myForm.controls['confirmpassword'].valid && myForm.controls['confirmpassword'].touched" >
                Confirm Password Does Not Match  with Password
              </div>
              

              <div class="text-center">
                <button type="submit" class="btn btn-block btn-warning" [disabled]="!myForm.valid">Submit</button>
              </div>

            </form>
            
          </div>

        </div>
      </div>
      <div class="alert alert-success" *ngIf="message.length > 0">
        {{ message }}
      </div>
     
      <div class="alert alert-danger" *ngIf="userError">
        {{ userError.message }}
      </div>
    </div>
  
  </div>
</div>